.container {
    border: 1px solid red;
    /* background-color: red; */
    color: #778da9;
    padding: 2px;
    /* width: fit-content; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}