.container {
    border: 1px solid red;
    /* background-color: red; */
    color: #778da9;
    padding: 2px;
    /* width: fit-content; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.main {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.central {
    /* background-color: #111; */
    max-width: 75%;

}

.column {}