.navBar {
    width: 100%;
    height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #1e1e1e;
    box-shadow: 0 0px 15px 5px #000;
    /* background-color: rgba(94, 94, 94, 0.438); */
    /* box-shadow: 0 0px 8px 1px rgb(255, 32, 32); */

    padding: .00125rem;
    margin-bottom: 1rem;

    padding: 0 2rem;

}

.logo {
    /* margin: 2rem; */
    /* background-color: red; */
    color: #778da9;
    font-weight: 600;

}

.menu {

    /* justify-content: center;
    align-items: center; */

    display: flex;
    justify-content: center;

    width: fit-content;

}

@media (max-width: 40em) {
    .menu {
        margin: 0;
    }
}

/*.searchWrapper,
SearchBar, */
/* .logo,
.menu {
    font-size: clamp(.8rem, .8rem + 1vw, 1rem);
    font-size: .8rem;
} */

.logo,
.menu {
    font-size: 1rem;
}

@media (max-width: 40em) {

    .logo,
    .menu {
        font-size: .8rem;
    }
}

nav {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
}

@media (max-width: 40em) {
    ul {
        gap: .85rem;
    }
}

li {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
}

.searchWrapper {
    /*     background-color: blue;
 */
}

nav>ul>li> {
    text-decoration: none;
}

nav>ul>li>:visited {
    color: #3c5f8d;
}

nav>ul>li>:hover {
    color: #2467be;
    background-color: #0f2a4d;
}