.normal,
.btnT {
  cursor: pointer;
}

.btnT {
  /* background-color: #777; */
  /* background-color: #535353; */
  background-color: var(--btnColor);
  /* color: #777; */
  color: var(--btnFontColor)
}

.btnT:hover {
  /* background-color: #0078ff; */
  background-color: var(--btnHoverColor);
}

.actual {
  /* background-color: rgb(255, 222, 74); */
  /* background-color: rgb(190, 190, 190); */
  background-color: var(--btnActiveColor);
}

.normal {
  /* background-color: rgb(218, 75, 75); */
  /* background-color: #141526; */
  background-color: var(--btnColor);
  /* color: #777; */
  color: var(--btnFontColor);
}

.normal:hover {
  /* background-color: aliceblue; */
  background-color: var(--btnHoverColor);
}

button:disabled,
button[disabled] {
  /* border: 1px solid #999999; */
  /* background-color: #222; */
  background-color: var(--btnDisabledColor);
  border: 2px solid black;
  /* color: #666666; */
  color: var(--btnFontColor);
  width: 2rem;
}

.container {
  margin-bottom: 1.5rem;
}

/*Se pisa con buttons de Test.module.css*/
button {
  width: 2rem;
  margin: 0;
}

/*  de index.css */
/* 
button {
    background-color: rgb(218, 75, 75);
    color: black;
    width: 2rem;
  }
  
  button:hover {
    background-color: rgb(235, 161, 161);
  }
  
  button:active {
    background-color: rgb(161, 36, 36);
  } 
*/