.card {
    position: relative;

    /* background: rgb(18 34 48); */
    /* background-color: #202022d8; */
    background-color: #0000008f;
    /* background: linear-gradient(126deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 100%); */
    /* https://cssgradient.io/ */

    width: 100%;
    /* min-width: 8rem; */
    /* max-width: 15rem; */
    min-height: 15rem;
    border-radius: .2rem;

    border-radius: 0 0 .5rem .5rem;

    overflow: hidden;

    box-shadow: 0 2px 10px rgb(0, 0, 0);

}

@media (max-width: 40em) {
    .card {
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

.card:hover {
    /* -webkit-box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); */
    box-shadow: 0 0 8px rgb(14, 118, 255);

}

.infoContainer {
    height: 80%;
    width: 100%;
    background-color: red;
}

.dietTypes {
    /*container*/
    background-color: rgba(0, 0, 0, 0.068);
    position: absolute;

    display: flex;
    flex-wrap: wrap;
}


.active,
.diet {
    font-size: .8rem;
    padding: .1rem;
    margin: .1rem;
    width: fit-content;
    border-radius: .225rem;

    z-index: 10;
}

.active {
    background-color: rgba(175, 224, 41, 0.733);
}

.diet {
    /*item*/
    background-color: rgba(70, 179, 241, 0.733);
}

.imgContainer {
    /* height: 20%; */
    /* width: 100%; */
    /* background-color: blue; */
    overflow: hidden;

    /* 
    border-radius: 50%;    
    min-width: 8rem;
    max-width: 15rem;
    min-height: 8rem;
    max-height: 15rem; 
    */
}

.image {
    width: 100%;
    height: 100%;
    /* width: 10rem; */
    /* height: 10rem; */
    /* background-position: center; */
    background-size: cover;
    /* object-fit: cover; */

    /* filter: grayscale(100%); */
    /* transition: filter 300ms; */
    border-radius: 0 0 1.5rem 0;

    transition: 0.5s ease-in-out;

    /* border-radius: 50%; */
    /* max-width: 8rem;
    max-height: 8rem; */

    box-shadow: 0 2px 10px rgba(0, 0, 0, 50%);

}

.image:hover {
    /* filter: grayscale(0); */
    /* transform: rotate(-15deg) scale(1.5); */
    transform: rotate(-5deg) scale(1.1);
}

.cardTitle {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    /* background-color: rgba(0, 0, 0, 0.452); */
    padding: 0 1rem;
    /* background-color: rgba(255, 255, 255, 0.541); */
    border-radius: 0 0 .5rem .5rem;

}